* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    color: #ffffff;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #111;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}


.nav-links a:hover {
    color: #ff3e3e;

}


.hero{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('your-image.jpg');
    background-size: cover;
}

.hero h1 {
    font-size: 3erm;
    margin-bottom: 10px;

}

.cta-btn{
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #ff3e3e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;

}

.interest{ 
    background: black;
    padding: 30px;
    border-radius: 20px;
    flex: 5;
    min-width: 150px;
    text-align: center;
}

.service-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 10%;
    flex-wrap: wrap;

}

.service-card {
    background: #252525;
    padding: 30px;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
    text-align: center;
}



.hub-link {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top:30px;
    flex-wrap: wrap;

}

.hub-link a {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;

}

.hub-link a:hover 
{
    background: white;
    color: black;
}

.container {
    padding: 80px 10px;
    text-align: center;
}

footer{
    padding: 40px;
    background: #111;
    text-align: center;
}